@media screen and (max-width: 1200px) {
    header nav {
        height: 10vh;
    }
    header nav ul li::before {
        bottom: 14px;
    }
    header nav .brand-logo img {
        width: 80%;
    }
    .slider {
        height: 82.4vh;
    }
    .slider .overlay .slider-desc h1 {
        font-size: 35px;
        color: #fff;
    }
    #typed {
        font-size: 22px;
    }
    #about-us {
        height: 70vh;
    }
    #beautiText {
        background-size: contain;
        background-position: center top;
    }
    #article .container img {
        width: 100%;
        height: 60%;
    }
    #partner {
        height: 25vh;
    }
    .section-title p {
        line-height: 25px;
    }
    #base-story {
        padding: 70px 35px;
    }
    .post-image img {
        height: 57%;
    }
    footer {
        height: 70%;
    }
    #project .container .box .box-item {
        position: relative;
        bottom: 53px;
        width: auto;
        height: 337px;
    }
}

@media screen and (max-width: 992px) {
    .slider .overlay .slider-desc h1 {
        font-size: 33px;
        color: #fff;
    }
    #typed {
        font-size: 21px;
    }
    .slider {
        height: 74vh;
    }
    #base-story .base-video {
        width: 55%;
        margin: auto;
    }
    #base-story .base-story {
        width: 60%;
        margin: 2% auto;
    }
    #base-story .base-video::before {
        height: 6px;
        top: -6px;
        right: -7px;
    }
    #base-story .base-video::after {
        width: 6px;
        right: -7px;
    }
    #services {
        height: 500px;
    }
    #about-us {
        height: 70%;
    }
    /* #about-us .container .about-us-items {
        height: 280px;
    } */
    #about-us .container .about-us-items {
        height: 324px;
        /* padding: 30px 0; */
    }
    #about-us .about-us-items .about-slide {
        left: 6px;
        height: 91%;
    }
    #about-us .btn {
        width: 50%;
        margin: 6% auto;
    }
    #beautiText .beautiText h3 {
        font-size: 19px;
    }
    #article {
        height: 80%;
    }
    .section-title h3 {
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 1px;
    }
    .section-title p {
        text-align: center;
    }
    .post-image img {
        height: 54%;
    }
    /* #article {
        height: 90%;
    } */
    .post {
        width: 100%;
        /* margin: 20% auto; */
        height: 65%;
    }
    .footer {
        height: 90%;
    }
}

@media screen and (max-width: 991px) {
    #article {
        height: 980px;
    }
}

@media screen and (max-width: 768px) {
    header nav .brand-logo {
        width: 10%;
    }
    header nav ul {
        /*display: none;
        */
        display: flex;
        flex-direction: column;
        width: 60% !important;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -470px;
        bottom: 0;
        background-color: #252525;
        z-index: 5;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        /* visibility: hidden; */
    }
    /* header nav ul li {
        height: 10%;
    } */
    header .toggle-menu {
        display: flex;
    }
    header .toggle-menu ul {
        display: flex;
    }
    .header-top .header-top-social ul li {
        padding: 0 10px;
    }
    .info {
        display: none;
    }
    .slider {
        height: 87vh;
    }
    /* .slider .overlay .slider-desc {
        height: 384px;
    } */
    .slider .overlay .slider-desc h1 {
        font-size: 25px;
    }
    #typed {
        font-size: 18px;
    }
    header nav ul {
        width: 55%;
    }
    header nav ul li::before {
        bottom: 17px;
    }
    .section-title {
        margin: 25px auto;
    }
    .section-title h3 {
        margin-bottom: 26px;
    }
    #base-story .base-story .base-story-item {
        flex-wrap: wrap;
    }
    #base-story .base-story .base-story-item div {
        width: 45%;
    }
    #base-story .base-story .base-story-item div {
        margin: 5px 0;
    }
    #services .tab-content .tab .content .content-title {
        height: 200px;
    }
    #about-us {
        height: 1090px;
    }
    #about-us .btn {
        width: 50%;
        margin: 6% auto;
    }
    #about-us .about-us-items img {
        width: 85%;
        /* height: 245px; */
    }
    #about-us .about-us-items .about-slide {
        /* width: 73%; */
        right: 7%;
        height: 91%;
    }
    #about-us .about-us-items:hover .about-slide {
        /* bottom: 35px; */
        width: 85.3%;
    }
    #about-us .container .about-us-items {
        width: 80%;
        height: 324px;
        padding: 30px 0;
        margin: auto;
    }
    /* #beautiText {
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;
    } */
    #beautiText .beautiText h3 {
        font-size: 20px;
    }
    #article {
        height: 1000px;
    }
    .footer {
        height: 660px;
    }
    .footer .container .footer-about .footer-about-title p {
        padding: 10px 0;
    }
    .footer .footer-about-contact {
        padding-right: 40px;
    }
    .footer .container .footer-about .footer-about-contact form input {
        width: 65%;
    }
    .footer .copy-right p {
        width: 100%;
        font-size: 12px;
        text-align: center;
    }
    .footer .social-media ul li {
        padding: 0 5px;
    }
}

@media screen and (max-width: 767px) {
    #about-us {
        height: 1360px;
    }
}

@media screen and (max-width: 576px) {
    .header-top {
        padding: 0 15px;
    }
    .header-top .header-top-message p {
        font-size: 10px;
    }
    header nav .brand-logo img {
        width: 100%;
    }
    header nav ul {
        width: 75% !important;
    }
    .slider {
        height: 55vh;
    }
    /* .slider .overlay .slider-desc {
        height: 332px;
    } */
    .slider .overlay .slider-desc h1 {
        font-size: 18px;
    }
    #typed {
        font-size: 12px;
    }
    #base-story .base-video {
        width: 90%;
    }
    #base-story .base-video::before {
        width: 145px;
    }
    #base-story .base-video::after {
        height: 100px;
    }
    .section-title h3 {
        font-size: 18px;
    }
    #base-story .base-story {
        width: 90%;
    }
    #services {
        height: 740px;
    }
    .services {
        width: 85%;
        margin: auto;
    }
    #services .tab-button {
        height: 230px;
    }
    #services .tab-button ul {
        display: flex;
        flex-direction: column;
    }
    #services .tab-button ul li {
        width: 100%;
        padding: 10px 0;
    }
    #services .tab-content .tab .content {
        padding: 37px 0;
    }
    #services .tab-content .content-title h3 {
        font-size: 21px;
    }
    #project .lSAction>a {
        top: 30% !important;
    }
    #about-us p {
        line-height: 30px;
    }
    #beautiText {
        background-size: cover;
        background-position: 22%;
    }
    #beautiText .beautiText h3 {
        font-size: 13px;
        text-align: center;
        font-weight: bold;
    }
    #article {
        height: 1700px;
    }
    .post {
        height: 100%;
    }
    .footer {
        padding: 40px 0;
        height: 1295px;
    }
    .footer .copy-right p {
        font-size: 10px;
    }
}

@media screen and (max-width: 420px) {
    #about-us .container .about-us-items {
        width: 100%;
    }
    #services .tab-content .tab .content-img {
        display: none;
    }
    #services .tab-content .tab .content .content-title {
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .header-top .header-top-message p {
        font-size: 9px;
    }
    .header-top .header-top-message {
        width: 60%;
    }
    .header-top .header-top-social {
        width: 40%;
    }
    #services .tab-content .tab .content {
        padding: 30% 0;
    }
    #services {
        height: 860px;
    }
    #base-story .base-video::before {
        width: 183px;
        height: 6px;
        top: -6px;
        right: -6px;
    }
    #base-story .base-video::after {
        width: 6px;
        height: 123px;
        right: -6px;
    }
    #base-story .base-story .base-story-item div::after {
        left: -7%;
    }
    #beautiText {
        background-size: cover;
        background-position: 30% 45%;
    }
    #article {
        height: 1410px;
    }
    .post {
        height: 90%;
    }
    #partner {
        height: 100%;
    }
    #partner ul {
        display: flex !important;
        flex-direction: column;
    }
    #partner ul li {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    #partner ul li a img {
        width: 70%;
        height: 70%;
        margin: auto;
        margin: 2% auto;
    }
    .footer {
        height: 1320px;
    }
}

@media screen and (max-width: 320px) {
    .header-top .header-top-message p {
        font-size: 7px;
    }
    .header-top .header-top-social ul li a {
        font-size: 12px;
    }
    .slider .overlay .slider-desc .typed {
        margin-top: 0;
    }
    #base-story .base-video {
        width: 100%;
    }
    #base-story .base-video::before {
        width: 187px;
        height: 7px;
    }
    #base-story .base-video::after {
        width: 7px;
        height: 89px;
        top: -3px;
    }
    #base-story .base-story {
        width: 100%;
    }
    .section-title h3 {
        font-size: 15px;
    }
    #base-story .base-story .base-story-item div {
        width: 100%;
    }
    #services .tab-content .tab .content {
        padding: 30% 0;
    }
    #services .tab-content .content-title h3 {
        font-size: 18px;
    }
    #services .tab-content .tab .content .content-title {
        width: 100%;
        text-align: center;
    }
    #about-us .btn {
        width: 100%;
    }
    #beautiText .beautiText h3 {
        font-size: 10px;
    }
    #project .btn {
        width: 140px;
    }
    #article .btn {
        width: 140px;
    }
    #article {
        height: 1265px;
    }
    #article .date {
        display: flex !important;
        flex-direction: row;
    }
    #article .container .post {
        height: 75%;
    }
    #partner {
        height: 75%;
    }
    #partner ul li {
        padding: 8px;
    }
    #beautiText {
        background-position: 72% 45%;
    }
    .footer {
        height: 1337px;
    }
    .footer .footer-about-title {
        text-align: center !important;
    }
}