@media screen and (max-width:992px) {
    header .navbar .menu .hamburgur {
        width: 40px;
        height: 40px;
        background-color: #c00;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    header .navbar .menu .hamburgur::before {
        content: '';
        width: 90%;
        height: 3px;
        position: absolute;
        background-color: #fff;
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }
    header .navbar .menu .hamburgur::after {
        content: '';
        width: 90%;
        height: 3px;
        position: absolute;
        background-color: #fff;
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }
    header .navbar .menu .hamburgur div {
        width: 90%;
        height: 3px;
        position: absolute;
        background-color: #fff;
    }
    header .navbar .menu>ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        overflow-y: scroll;
        top: 0;
        right: -313px;
        /*left: 100%;
        */
        width: 312px;
        height: 100%;
        /*background: #1c1c6e;
        */
        background: #c00;
        z-index: 4;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }
    header .navbar .menu>ul>li:first-child {
        width: 100%;
        border-bottom: 1px solid #dd5d5d;
    }
    header .navbar .menu>ul>li:first-child:hover {
        background-color: #000;
    }
    header .navbar .menu>ul>li>svg {
        color: #fff;
        font-size: 25px;
        padding-left: 80%;
        width: 100%;
    }
    header .navbar .menu>ul>li {
        width: 95%;
        padding: 20px 0;
    }
    header .navbar .menu>ul>li a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    header .navbar .menu>ul>li>a p {
        width: 60%;
        text-align: right;
    }
    header .navbar .menu>ul>li a svg {
        text-align: left;
        width: 20% !important;
    }
    header .menu>ul li:hover .mega-menu {
        display: none;
    }
    header .menu ul li ul.mega-menu li {
        width: 95%;
    }
    header .menu ul li ul.mega-menu li {
        width: 100%;
    }
    header .menu>ul li .mega-menu.active {
        display: block;
        position: inherit;
        margin-top: 20px;
    }
    header .menu ul li ul.mega-menu li h3 {
        margin-top: 30px;
    }
    .slider {
        z-index: -1;
    }
    .slider .slider-item .item .caption {
        padding-right: 80px;
    }
    .slider .slider-item .item .caption h1 {
        font-size: 30px;
    }
    .slider .slider-item .item .caption p {
        font-size: 12px;
    }
    #main {
        flex-wrap: wrap;
    }
    #main #content {
        width: 100%;
    }
    #main #sidebar {
        width: 100%;
        margin-top: 45px;
    }
    .suggested .container .row h3 {
        font-size: 25px;
    }
    footer .footer-social-media ul {
        width: 55%;
    }
    footer .footer-news-letter form button {
        margin-right: 5px;
    }
}

@media screen and (max-width:768px) {
    header .social ul {
        width: 58%;
    }
    header .social button {
        display: none;
    }
    header .ads .ads-banner {
        width: 60%;
    }
    header .ads .ads-logo {
        width: 40%;
    }
    .slider .slider-item .item .caption h1 {
        font-size: 25px;
    }
    .slider .slider-item .item .caption p {
        font-size: 10px;
    }
    .suggested {
        padding: 15px 0;
    }
    .suggested .container .row h3 {
        width: 100%;
        font-size: 33px;
    }
    .suggested .container .suggested-products {
        width: 100%;
    }
    .favorite .container .row .favorite-outline {
        flex-wrap: wrap;
    }
    .favorite .container .row .favorite-outline .favorite-content {
        width: 100%;
    }
    .favorite .container .row .favorite-outline .favorite-title {
        width: 100%;
        border: none;
        padding: 25px 0;
        margin-top: 20px;
        border-top: 5px dashed gray;
    }
    footer .footer-about {
        width: 100%;
    }
    footer .footer-social-media {
        width: 100%;
        padding: 20px 0;
    }
    footer .footer-news-letter {
        width: 100%;
    }
    footer .footer-news-letter form input {
        width: 85%;
    }
    footer .footer-news-letter form button {
        width: 20%;
    }
    footer .footer-customers-services {
        width: 50%;
    }
    footer .footer-quick-access {
        width: 50%;
    }
    footer .footer-license {
        width: 50%;
        padding: 70px 0;
    }
    footer .footer-logo {
        width: 50%;
        padding: 145px 0;
    }
}

@media screen and (max-width:576px) {
    header .social {
        width: 85%;
    }
    .slider .slider-item .item .caption {
        padding-right: 65px;
    }
    .slider .slider-item .item .caption h1 {
        font-size: 17px;
    }
    .slider .slider-item .item .caption p {
        display: none;
    }
    #main #content .content-container .dress {
        flex-wrap: wrap;
    }
    #main #content .content-container .dress .dress-item {
        width: 49%;
    }
    #main #content .content-container .dress .dress-item:nth-child(2) {
        margin-bottom: 15px;
    }
    #main #content .content-container .best-products-selling-men .selling-men-products {
        flex-wrap: wrap;
    }
    #main #content .content-container .best-products-selling-men .selling-men-products .products-item {
        width: 49%;
    }
    #main #content .content-container .best-products-selling-men .selling-men-products .products-item:nth-child(2) {
        margin-bottom: 20px;
    }
    #main #content .best-products-selling-girl .selling-girl-products {
        flex-wrap: wrap;
    }
    #main #content .best-products-selling-girl .selling-girl-products .products-item {
        width: 49%;
    }
    #main #content .best-products-selling-girl .selling-girl-products .products-item :nth-child(2) {
        margin-bottom: 20px;
    }
    #main #content .best-products-selling-child {
        padding: 0;
    }
    #main #content .best-products-selling-child .products-item {
        width: 49%;
    }
    #main #content .best-products-selling-child .products-item:nth-child(2) {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:400px) {
    header .social ul {
        width: 76%;
    }
    /* #main #content .content-container .dress .dress-item {
        width: 100%;
    } */
    .header-title h3 {
        width: 178px;
        font-size: 15px;
    }
    .header-title p {
        font-size: 14px;
    }
    #main #content .content-container .best-products-selling-men .selling-men-products .products-item {
        width: 100%;
        margin: 15px 0;
    }
    #main #content #cosmetic {
        padding: 23px 0;
        height: 224px;
    }
    #main #content #cosmetic a {
        height: 100%;
    }
    #main #content #cosmetic img {
        height: 100%;
    }
    #main #content #cosmetic a h2 {
        left: 10%;
        font-size: 17px;
    }
    #main #content .best-products-selling-girl .selling-girl-products .products-item {
        width: 100%;
        margin: 15px 0;
    }
    #main #content .best-products-selling-child .products-item {
        width: 100%;
        margin: 15px 0;
    }
    #main #sidebar .sidebar-container .last-product-item {
        width: 47%;
    }
    #main #sidebar .sidebar-container .recent-best-seller .recent-product {
        width: 47%;
    }
    #main #sidebar .sidebar-container .laptop .laptop-item {
        width: 47%;
    }
    .suggested .container .row h3 {
        font-size: 23px;
    }
    .suggested .container .suggested-products {
        flex-wrap: wrap;
    }
    .suggested .container .suggested-products .suggested-product-item {
        width: 100%;
        margin: 10px 0;
    }
    .favorite .container .row .favorite-outline .favorite-content {
        flex-wrap: wrap;
    }
    .favorite .container .row .favorite-outline .favorite-content .favorite-item {
        width: 100%;
        margin: 5px 0;
    }
    footer .footer-customers-services {
        width: 100%;
    }
    footer .footer-quick-access {
        width: 100%;
        margin: 10px 0;
    }
    footer .footer-license {
        width: 100%;
    }
    footer .footer-logo {
        width: 100%;
        padding: 0;
    }
}